
server:
  port: 8082  # Уникальный порт для company-service

spring:
  application:
    name: company-service  # Имя сервиса для Eureka
  datasource:
    url: jdbc:postgresql://company-db:5432/company_db  # Подключение к своей БД
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  sql:
    init:
      mode: always

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/  # Регистрация в Eureka

user:
  service:
    url: http://user-service:8081  # URL user-service