server:
  port: 8081  # Уникальный порт для user-service для реализации config-service через docker-compose
spring:
  application:
    name: user-service
  cloud:
    config:
      uri: config-service:8888
spring.config.import: 'optional:configserver:'







